<strong>Olá, {{ deliveryman }}</strong>
<p>A entrega foi atualizada. Confira os detalhes abaixo:</p>
<p>
    <strong>ID da entrega: </strong>{{ delivery }} <br />
    <strong>Destinatário: </strong>{{ recipient }} <br />
    <strong>Produto: </strong>{{ product }} <br />
    <strong>Endereço: </strong> {{ address }}, {{ number }} <br />
    <strong>Cidade: </strong> {{ city }} <br />
    <strong>Estado: </strong> {{ state }} <br />
</p>

